<h1>Auto Service app is running!</h1>
<nav>
	<a routerLinkActive="activeLink" routerLink="/car-owners" draggable="false">CarOwners page</a>
	<a routerLinkActive="activeLink" routerLink="/cars" draggable="false">Cars page</a>
	<a routerLinkActive="activeLink" routerLink="/details" draggable="false">Details page</a>
	<a routerLinkActive="activeLink" routerLink="/orders" draggable="false">Orders page</a>
	<a routerLinkActive="activeLink" routerLink="/overhauls" draggable="false">Details page</a>
	<a routerLinkActive="activeLink" routerLink="/repairers" draggable="false">Repairers page</a>
</nav>
<router-outlet></router-outlet>
